body,
html {
	width: 100%;
	height: 100%;
	background-color: white;
	margin: 0;
	box-sizing: border-box;
	background: grey;
}

body {
	overflow-x: hidden;
	/* overflow-y:hidden; */
}

#root,
.App {
	height: inherit;
}

.list_images img {
	/* padding:6px; */
	/* display:inline-block; */
	width: 200px;
	margin: auto;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.list_images img:hover {
	opacity: 0.65;
	cursor: pointer;
	transition: 0.35s linear;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.slider {
	margin: 50px 0;
	/* width:100%; */
}

section {
	height: 600px;
	margin-top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* max-height:750px */
	/* position:absolute; */
}

/* Text inside carousel item */
section .text_carousel {
	margin-left: 120px;
}

h1 {
	line-height: 250px;
}

h3 {
	color: black;
	text-align: center;
}

.slick-next {
	margin-right: 35px;
	color: black;
}

.slick-prev {
	margin-left: 35px;
	z-index: 1;
}

.image_detail {
	width: 100%;
	max-height: 500px;
	filter: brightness(0.4);
}

.detail .text_detail {
	/* padding-top: 100px; */
	position: absolute;
	z-index: 1;
	color: white;
	text-shadow: 1px 1px #000;
	font-size: 40px;
	margin-top: 80px;
	margin-left: 100px;
}

.detail .text_detail div {
	width: 500px;
	margin-top: 40px;
	font-size: 20px;
}

.detail .text_detail button {
	font-size: 20px;
	border-radius: 10px;
}

.video-detail {
	position: relative;
	margin-top: -400px;
	margin-right: 100px;
}

.slider-label {
	margin-top: 50px;
	color: white;
	margin-left: 50px;
}

i {
	color: white;
	z-index: 1;
	position: relative;
	float: right;
	margin-top: -470px;
	margin-right: 20px;
}

i:hover {
	color: #ccc;
	cursor: pointer;
}

.hide-detail {
	display: none;
}

button:focus {
	outline: none;
}

.sweet-loading {
	width: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sweet-loading * {
	margin: 0 auto;
	/* color:#A0A0A0; */
}

.sweet-loading {
	z-index: 3;
}

.load-msg {
	color: #36d7b7;
	text-align: center;
	margin: 15px;
}

.css-y9kucp {
	opacity: 1;
}

.hide-load {
	display: none;
}

.show-load {
	background: black;
	width: 100%;
	height: 5000px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	display: block;
	z-index: 2;
}

.body-load {
	overflow-y: hidden;
}

.content-toggle {
	display: none;
}

/* Style for search component */
.search-list {
	position: absolute;
	background-color: white;
	width: 100%;
	list-style-type: none;
}

.search-movie {
	position: relative;
	width: 30%;
}

.search-movie input {
	width: 100%;
	padding-left: 40px;
}

/* Styles for displaying a movie or a movie list */

.movie-page h1 {
	color: white;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.movie-page a {
	position: relative;
	bottom: 0;
}

.movie-page img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.list-component {
	display: flex;
	flex-flow: column;
	/* align-items: center; */
}

.list-of-movies {
	display: flex;
	flex-flow: wrap;
	/* justify-content: center; */
	margin-top: 20px;
}

.list-of-movies .movie-comp {
	display: flex;
	justify-content: space-around;
	flex-basis: 20%;
	padding: 20px;
}

.list-of-movies .movie-info {
	flex: 1;
	padding: 0;
	border: 1px solid white;
}

.movie-as-poster {
	cursor: pointer;
}
